<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button defaultHref="/places/tabs/expenses"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="expense">Expense for {{expense.Property.address}}</ion-title>
    </ion-toolbar>
</ion-header>
                            
<ion-content>
    <ion-card *ngIf="expense">
        <ion-item>
            <ion-label>Address</ion-label>
            <ion-text fill="outline" slot="end">{{ expense.Property.address }}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-text fill="outline" slot="end">{{ expense.date }}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label>Amount</ion-label>
            <ion-text fill="outline" slot="end">{{ expense.amount | currency:'USD' }}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label>Category</ion-label>
            <ion-text fill="outline" slot="end">{{ expense.category }}</ion-text>
        </ion-item>
    </ion-card>
</ion-content>