<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/properties"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="property">{{property.address}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-button margin color="primary" [routerLink]="['/', 'places', 'tabs', 'properties', 'edit', placeId]">Edit</ion-button> -->

<ion-content>
  <ion-card *ngIf="property">
      <ion-list>
          <ion-item-sliding>
            <ion-item [routerLink]="['/', 'places', 'tabs', 'properties', 'edit', propertyId]">
                Edit Property
            </ion-item>
          </ion-item-sliding>
          <ion-item-sliding>
                <ion-item [routerLink]="['/', 'places', 'tabs', 'properties', 'list', propertyId]">
                    List Property  [ NEED A WAY TO POST ON ZILLOW FROM HERE]
                </ion-item>
            </ion-item-sliding>
          <ion-item-sliding>
              <ion-item [routerLink]="['/', 'places', 'tabs', 'leases', 'new']">
                  Add Lease
              </ion-item>
            </ion-item-sliding>
            <ion-item-sliding>
                <ion-item [routerLink]="['/', 'places', 'tabs', 'expenses', 'new']">
                    Add Expense
                </ion-item>
              </ion-item-sliding>
              <ion-item-sliding>
                <ion-item [routerLink]="['/', 'places', 'tabs', 'documents', 'new']">
                    Add Document
                </ion-item>
              </ion-item-sliding>
              <ion-item-sliding>
                  <ion-item [routerLink]="['/', 'places', 'tabs', 'leases', 'archives', propertyId]">
                      Archived Leases
                  </ion-item>
                </ion-item-sliding>
        </ion-list>
      <ion-card-header padding>
        <ion-card-subtitle text-center>Property Details</ion-card-subtitle>
      </ion-card-header>
      <ion-item>
            <ion-label>Home Value</ion-label>
            <ion-text fill="outline" slot="end">{{ property.homeValue | currency:'USD' }}</ion-text>
        </ion-item>
      <ion-item>
          <ion-label>Purchase Price</ion-label>
          <ion-text fill="outline" slot="end">{{ property.purchasePrice | currency:'USD' }}</ion-text>
      </ion-item>
      <ion-item>
            <ion-label>Mortgage Debt</ion-label>
            <ion-text fill="outline" slot="end">{{ property.mortgageDebt | currency:'USD' }}</ion-text>
        </ion-item>
      <ion-item>
          <ion-label>Purchase Date</ion-label>
          <ion-text fill="outline" slot="end">{{ property.purchaseDate | date }}</ion-text>
      </ion-item>
      <ion-item>
          <ion-label>Current Equity</ion-label>
          <ion-text fill="outline" slot="end">{{ (property.homeValue - property.mortgageDebt) | currency:'USD' }}</ion-text>
      </ion-item>
      <ion-card-header padding>
            <ion-card-subtitle text-center>Profit & Loss (YTD)</ion-card-subtitle>
        </ion-card-header>
        <ion-item>
            <ion-label>Revenue</ion-label>
            <ion-text fill="outline" slot="end">{{ <!--lease.totalExpenses--> }}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label>Expenses</ion-label>
            <ion-text fill="outline" slot="end">{{ <!--lease.totalExpenses--> }}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label>Profit</ion-label>
            <ion-text fill="outline" slot="end">{{ <!--lease.totalExpenses--> }}</ion-text>
        </ion-item>

        <!-- <ion-card-header padding>
            <ion-card-subtitle text-center>Monthly P & L</ion-card-subtitle>
        </ion-card-header>
        <ion-item>
                <ion-label>Monthly Revenue</ion-label>
                <ion-text fill="outline" slot="end"> {{totalMonthlyIncome | currency:'USD'}}</ion-text>
            </ion-item>
            <ion-item>
                <ion-label>Monthly Expenses</ion-label>
                <ion-text fill="outline" slot="end"> {{totalMonthlyExpenses | currency:'USD'}}</ion-text>
            </ion-item>
            <ion-item>
                <ion-label>Monthly Profit</ion-label>
                <ion-text fill="outline" slot="end"> {{(totalMonthlyIncome - totalMonthlyExpenses) | currency:'USD'}}</ion-text>
            </ion-item> -->

      <ion-card-header padding>
          <ion-card-subtitle text-center>Yearly Expenses</ion-card-subtitle>
      </ion-card-header>
      <ion-item>
          <ion-label>Mortgage</ion-label>
          <ion-text fill="outline" slot="end">{{ property.mortgage | currency:'USD' }}</ion-text>
      </ion-item>
      <ion-item>
          <ion-label>Taxes</ion-label>
          <ion-text fill="outline" slot="end">{{ property.taxes | currency:'USD' }}</ion-text>
      </ion-item>
      <ion-item>
          <ion-label>Insurance</ion-label>
          <ion-text fill="outline" slot="end">{{ property.insurance | currency:'USD' }}</ion-text>
      </ion-item>
      <ion-card-header padding *ngIf="property.Leases && property.Leases.length > 0">
          <ion-card-subtitle text-center>Current Lease</ion-card-subtitle>
      </ion-card-header>
      <ion-item *ngIf="property.Leases && property.Leases.length > 0"
          [routerLink]="['/', 'places', 'tabs', 'leases', leaseId ]" detail >
        <ion-label text-center>
          <h2>{{property.Leases[0].leaseStart | date}} to {{property.Leases[0].leaseEnd | date}}</h2>
          <p>{{property.Leases[0].rentAmountDue | currency:'USD'}} / month</p>
          <p>Next payment due in {{ property.Leases[0].LeasePayments[0].daysUntilNextPaymentDue }} days</p>
          <p *ngIf="property.Leases[0].LeasePayments[0].daysPastDue">Payment is {{ property.Leases[0].LeasePayments[0].daysPastDue }} days late</p>
          <p>Lease ends in {{property.Leases[0].daysUntilLeaseEnd}} days</p>
          <!-- <p>Tenants: Bob Bobberson</p>
          <p>Phone: (309) 429-0826</p>
          <p>Email: boristotle@hotmail.com</p> -->
        </ion-label>
      </ion-item>

      <!-- <ion-card-header padding>
            <ion-card-subtitle text-center>Expenses YTD ($5600)</ion-card-subtitle>
        </ion-card-header>
        <ion-item>
            <ion-label>View Expenses</ion-label>
            <ion-text fill="outline" slot="end">{{ property.insurance | currency:'USD' }}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label>Expense 2</ion-label>
            <ion-text fill="outline" slot="end">{{ property.insurance | currency:'USD' }}</ion-text>
        </ion-item> -->

  </ion-card>
</ion-content>