
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button defaultHref="/places/tabs/leases"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="lease">{{ lease.Property.address }}</ion-title>
    </ion-toolbar>
</ion-header>
          
<!-- <ion-button margin color="primary" [routerLink]="['/', 'places', 'tabs', 'properties', 'edit', placeId]">Edit</ion-button> -->
          
<ion-content *ngIf="lease">
<ion-card>
    <ion-list>
            <!-- <ion-item-sliding>
                <ion-item [routerLink]="['/', 'places', 'tabs', 'expenses', 'new']">
                    Add Expense
                </ion-item>
                </ion-item-sliding> -->
                <ion-item-sliding>
                    <ion-item [routerLink]="['/', 'places', 'tabs', 'documents', 'new']">
                        Add Document
                    </ion-item>
            </ion-item-sliding>
            <ion-item-sliding>
                    <ion-item [routerLink]="['/', 'places', 'tabs', 'leases', 'edit', lease.id]">
                        Edit Lease
                    </ion-item>
            </ion-item-sliding>
        </ion-list>
    <ion-card-header padding>
        <ion-card-subtitle text-center>Lease Details</ion-card-subtitle>
    </ion-card-header>
    <ion-item>
        <ion-label>Address</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.Property.address }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Lease Start</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.leaseStart | date }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Lease End</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.leaseEnd | date }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Rent Due Day</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.rentDueDay }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Deposit</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.deposit | currency:'USD' }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Rent Amount Due</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.rentAmountDue | currency:'USD' }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Daily Late Fee</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.dailyLateFee | currency:'USD' }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Late Days Allowed</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.lateDaysAllowed }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Status</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.status }}</ion-text>
        [TODO:  Archive / Unarchive Lease HERE ]
        <!-- <ion-button margin color="primary" [routerLink]="['/', 'places', 'tabs', 'properties', 'edit', placeId]">{{ archive }}</ion-button> -->
    </ion-item>
    <ion-item>
        <ion-label>Next Payment Due</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.LeasePayments[0].daysUntilNextPaymentDue }} days</ion-text>
    </ion-item>
    <ion-item *ngIf="lease.LeasePayments[0]">
        <ion-label>Days Past Due</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.LeasePayments[0].daysPastDue }} days</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Lease Ends</ion-label>
        <ion-text fill="outline" slot="end"> {{lease.daysUntilLeaseEnd}} days</ion-text>
    </ion-item>
</ion-card>
</ion-content>