
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button defaultHref="/places/tabs/leases"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="lease">{{ lease.propertyAddress }}</ion-title>
    </ion-toolbar>
</ion-header>
          
<!-- <ion-button margin color="primary" [routerLink]="['/', 'places', 'tabs', 'properties', 'edit', placeId]">Edit</ion-button> -->
          
<ion-content *ngIf="lease">
<ion-card>
    <ion-list>
            <ion-item-sliding>
                <ion-item [routerLink]="['/', 'places', 'tabs', 'leases', 'expense']">
                    Add Expense
                </ion-item>
                </ion-item-sliding>
                <ion-item-sliding>
                    <ion-item [routerLink]="['/', 'places', 'tabs', 'leases', 'document']">
                        Add Document
                    </ion-item>
            </ion-item-sliding>
        </ion-list>
    <!-- <ion-img src="https://www.parisperfect.com/g/apartment-hero-images/hi_lalande-64-new.jpg"></ion-img> -->
    <ion-card-header padding>
        <ion-card-subtitle text-center>Details</ion-card-subtitle>
    </ion-card-header>
    <ion-item>
        <ion-label>Property Address</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.propertyAddress }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Lease Start</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.leaseStart }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Lease End</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.leaseEnd }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Rent Due</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.rentDue }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Deposit</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.deposit }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Rent Amount</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.rentAmount }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Late Fee</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.lateFee }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Late Days</ion-label>
        <ion-text fill="outline" slot="end">{{ lease.lateDays }}</ion-text>
    </ion-item>
</ion-card>
</ion-content>