<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="notifications">
      <ion-label>Notifications</ion-label>
        <ion-icon name="notifications"></ion-icon>
    </ion-tab-button> -->
    <ion-tab-button tab="properties">
        <ion-label>Properties</ion-label>
        <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="leases">
        <ion-label>Leases</ion-label>
        <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tenants">
        <ion-label>Tenants</ion-label>
        <ion-icon name="people"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="expenses">
        <ion-label>Expenses</ion-label>
        <ion-icon name="cash"></ion-icon>
    </ion-tab-button>
    <!-- <ion-tab-button tab="properties">
        <ion-label>Open Service Requests</ion-label>
        <ion-icon name="home"></ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>

