<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
      <!-- <ion-button (click)="onOpenMenu()">
        Open
      </ion-button> -->
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-segment (ionChange)="onFilterUpdate($event)">
      <ion-segment-button value="all" checked>All Places</ion-segment-button>
      <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
    </ion-segment> -->
    <!-- {{ (notifications$ | async) | json }} -->
    <ion-grid *ngIf="(notifications$ | async)?.length === []">
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" text-center>
          <p>There are no notifications right now, please come back later!</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="12" offset-sm="0" text-center>
          <ion-list>
          <ion-item *ngFor="let notification of (notifications$ | async)"
              [routerLink]="['/', 'places', 'tabs', 'notifications', notification.id ]" detail >
            <!-- <ion-thumbnail slot="start">
              <ion-img [src]="notification.imageUrl"></ion-img>
            </ion-thumbnail> -->
            <ion-label>
              <h2>{{notification.category}}</h2>
              <p>{{notification.description}}</p>
            </ion-label>
          </ion-item>
          </ion-list>
        </ion-col>
        <!-- <ion-col>
          <ion-button routerLink="/bookings">Bookings</ion-button>
        </ion-col> -->
      </ion-row>
    </ion-grid>
</ion-content>
